body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;   /* 100% del ancho de la ventana gráfica */
    height: 100vh;   /* 100% de la altura de la ventana gráfica */
    background-image: url(./Views/imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100%;
    min-width: 100%;
}

.contenedorLogo {
    margin: 2rem;
    grid-column-start: 1;
    justify-self: center;   /* Centrar horizontalmente dentro de la segunda columna */
    align-self: center;   /* Centrar verticalmente dentro de la segunda fila */
    text-align: center;
}
.logo{
    margin-top: -12%;
    max-width: 80%;
}

.card {
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    opacity: 80%;
}

form {
    width: 100%;
    margin: 0 auto; /* Establece los márgenes izquierdo y derecho a 'auto' para centrar horizontalmente */
    
}
.header{
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 4%;
}
.contenedorLogoForm{
    margin: 0;
}
.logoForm{
    grid-column-start: 1;
    max-width: 25%;
}

.tituloCard {
    margin-top: 5%;
    grid-column-start: 2;
    align-items:start !important;
    justify-content:left !important;
    text-align:left !important;  
}

.contenedorForm{
    display: flex;
    flex-wrap: wrap !important; /* Esto es para que vayan ubicando los campos en dos o en las filas que quepan dependiendo el tamaño */
    justify-content: space-between !important;
}

.form-floating {
    border: none !important;
    flex-basis: 45% !important;
    margin: 3% 2% 0 2%;
}
.form-floating:focus{
    border: none !important;
}

/* Estilo para los inputs */
.input {
    border: none !important; /* Elimina el borde predeterminado del input */
    border-bottom: 1px solid rgb(0, 0, 0) !important;  /* Agrega un borde inferior gris */
    border-radius: 0 !important;  /* Elimina cualquier radio de esquina que pueda estar presente */
    padding: 0;  /* Elimina el relleno predeterminado del input */
    height: auto !important;  /* Permite que la altura del input se ajuste automáticamente al contenido */
}

.input:focus {
    outline: none !important; /* Elimina el contorno predeterminado del input en el enfoque */
    border-bottom: 1px solid rgba(255, 30, 30) !important;
}
.form-floating:focus-within label{
    color: rgba(255, 30, 30, 950) !important;
}

/* Estilo para las etiquetas flotantes */
.form-floating label {
    transform: translateY(10px);   /* Ajusta la posición de la etiqueta flotante según sea necesario */
    color: rgb(100, 100, 100);
}

.contenedorBtn{
    flex-basis: 100%;
}
.btn {
    width: 50%;
    background-color: rgba(180, 180, 180) !important;
    color: rgb(0, 0, 0) !important;
    margin-top: 8%;
    margin-bottom: 5%;
}

.btn:hover{
    background-color: rgba(255, 30, 30, 0.950) !important;
    color: white !important;
}

.footer {
    width: 100%;
}
a{
    text-decoration: underline !important;
    color: black !important;
    justify-content: center;
}
a.inicioSesion {
    grid-column-start: 2;
}
a:hover{
    text-decoration: underline;
    color: blue !important;
}